@import "./base/base";

@import "./colors/colors";

@import "./fonts/fonts";



//mobile menu
#ham-icon {
    margin: auto 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

//sets colors of the bars
#ham-icon div {
    width: 25px;
    height: 4px;
    background-color: $v-dark-blue;
    margin: 3px 0;
    transition: 0.4s;
    z-index: 10;
}

img{
    max-width: 100%;
    height: auto;
}
  
.ham-container {
    width: auto;
}
  
  /*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open{
    .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.bar2 {
  opacity: 0;
}
.bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.mobile-menu {
    display: flex;
    flex-direction: column; /*stacks each link on top of each other on mobile*/
    align-items: center;
    justify-content: center;
    z-index: 3;
    height: 50vh;
    margin: 0 auto;
    top: 100px;
    width: 90%;
    right: 0;
    box-shadow: -1px 9px 90px 180px #2d324d59;
    border-radius: 4px;
    padding: 32px 0;
    list-style: none;
    font-family: $be, $sans;
    background-color: $v-light-grey;
    li{
        padding: 0.5rem;
        
        a{
            color: $v-dark-blue;
            font-weight: 400;
            font-size: 1.75rem;
        }
    }
}
}

  
  /*once user opens the icon the links will display in a stacked view*/
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px; /*fixed height of header*/
    left: 0;
    height: calc(
      70vh - 50px
    ); /*takes the full remaining space of site hence width 100. set the height to 100 and subtract it from the height of header*/
    width: 100%;
    margin-top: 10px;
    font-size: 1.5rem;
    /*sets the background of the menu once user opens the icon. I want to make this transition more seamless. (future update)*/
    background-color: white;
    a{
        color: #000;
    }
    li{
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 375px){

    .footer-container__desktop__socials{
        display: none;
    }
    .nav-list{
        display: none;
    }

    .start-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        &__btn{
            width: 137px;
            height: 44px;
            color: $v-light-grey;
            background-color: $bright-red;
            border-radius: 1.375rem;
            border: none;
            font-family: $be, $sans;
        }

    }

    .mobile-nav{
        width: 100%;
        height: 100vh;
        &__bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 24px;
            margin-right: 24px;
            margin-top: 45px;
        }
        .graphic{
            width: 85%;
            margin: 0 auto;
            margin-bottom: 1.25rem;
            margin-top: 3rem;
        }

        .intro-container{
            width: 90%;
            margin: 0 auto;
            &__contents{
                font-family: $be, $sans;
                h1{
                    font-size: 2.5rem;
                    color: $v-dark-blue;
                    width: 100%;
                    font-weight: 700;
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 9px;
                    line-height: 3.125rem;
                }
                p{
                    text-align: center;
                    width: 100%;
                    font-weight: 300;
                    color: $dark-grayish-blue;
                    margin: 0 auto;
                    height: 25%;
                    line-height: 1.75rem;
                    font-size: 1rem;
                }
            }
        }
    }

    .difference-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        font-family: $be, $sans;
        gap: 54px;
        &__intro{
            display: flex;
            align-items: center;
            justify-content: center;
            
            &__contents{
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 14px;
                h2{
                    color: $v-dark-blue;
                    font-size: 1.875rem;
                    text-align: center;
                    line-height: 2.813rem;
                }
                p{
                    font-size: 0.875rem;
                    text-align: center;
                    line-height: 1.75rem;
                    width: 90%;
                    font-weight: 300;
                    color: $dark-grayish-blue;
                }
            }
        }
        &__features{
            display: flex;
            align-items: center;
            &__lists{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 50px;
                &__item{
                    display: flex;
                    flex-direction: column;
                    gap: 1.125rem;
                    &__heading{
                        display: flex;
                        gap: 1.125rem;
                        align-items: center;
                        width: 100%;
                        overflow: hidden;
                        background-color: $v-pale-red;
                        border-top-left-radius: 40px;
                        border-bottom-left-radius: 40px;
                        h3{
                            font-size: 1rem;
                            width: 100%;
                        }
                        span{
                            width: 67px;
                            height: 39px;
                            background-color: $bright-red;
                            border: none;
                            text-align: center;
                            color: $v-light-grey;
                            font-weight: 700;
                            border-radius: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    &__description{
                        p{
                            font-weight: 300;
                            color: $dark-grayish-blue;
                            line-height: 1.75rem;
                        }
                    }
                }
            }
        }
    }

    .review-container{
        width: 90%;
        margin: 0 auto;
        h2{
            text-align: center;
            font-family: $be, $sans;
            font-size: 2rem;
            margin: 3.875rem auto;
        }
        .swiper{
            width: 90%;
            margin: 0 auto;
            .card{
                width: 100%;
                font-family: $be, $sans;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                
                &__img{
                    width: 72px;
                    height: 72px;
                    img{
                        position: relative;
                        top: 80%;
                        
                    }
                }
                &__review{
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    background-color: $v-light-grey;
                    height: 30vh;
                    h4{
                        font-weight: 700;
                        font-size: 1rem;
                        
                    }
                    q{
                        color: $dark-grayish-blue;
                        line-height: 1.75rem;
                        width: 80%;
                    }
                }
            }
        }
    }

    .simplify-container{
        background-color: $bright-red;
        height: 34vh;
        color: $v-light-grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $be, $sans;
        margin-top: 8.313rem;
        &__heading{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 30px;
            h2{
                font-size: 2.5rem;
            }
            &__btn{
                width: 137px;
                height: 44px;
                color: $bright-red;
                background-color: $v-light-grey;
                border-radius: 1.375rem;
                border: none;
                margin: 0 auto;
            }
        }
    }

    .footer-container{
        background-color: $v-dark-blue;
        height: 60vh;
        &__form{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 90%;
            padding: 68px 0;
            margin: 0 auto;
            #email{
                width: 239px;
                height: 44px;
                text-align: center;
                border-radius: 22px;
                font-family: $be, $sans;
                border: none;
            }
            #submit{
                width: 80px;
                height: 44px;
                background-color: $bright-red;
                color: $v-light-grey;
                border-radius: 22px;
                border: none;
            }
        }
        &__bar{
            width: 70%;
            margin: 0 auto;
            &__lists{
                display: grid;
                grid-template-columns: repeat(2, auto);
                align-items: center;
                justify-content: space-between;
                gap: 13px;
                li{
                    a{
                        color: $v-light-grey;
                        font-family: $be, $sans;
                        font-size: 0.938rem;
                        font-weight: 400;
                    }
                }
            }
        }
        &__socials{
            display: flex;
            justify-content: space-evenly;
            width: 80%;
            margin: 0 auto;
            align-items: center;
            margin: 50px auto;
            img{
                width: 32px;
                height: 32px;
            }
        }
        &__logo{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .attribution{
        font-family: $be, $sans;
        font-size: 0.9rem;
        text-align: center;
        margin: 1rem auto;
        
    }
}

@media only screen and (min-width: 1200px){

    #hero-intro{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 80%;
        margin: 120px auto auto auto;
    }

    .mobile-nav{
        height: auto;
        &__bar{
            display: none;
        }

        .intro-container{
            width: 70%;
            &__contents{
                width: 100%;
                display: flex;
                flex-direction: column;
                h1{
                   text-align: left; 
                   font-size: 3.5rem;
                   line-height: 4rem;
                }
                p{
                    text-align: left;
                    width: 80%;
                    margin: 0;
                    margin-bottom: 40px;
                    margin-top: 16px;
                }
            }
        }
        .graphic{
            display: flex;
            justify-content: center;
        }
    }

    .start-container{
        margin: 0;
        justify-content: flex-start;
        &__btn{
            transition: all 250ms ease-in;
            &:hover{
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }

    .nav-list{
        display: block;
        width: 80%;
        margin: 0 auto;
        &__bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 56px;
            ul{
                display: flex;
                align-items: center;
                width: 35%;
                justify-content: space-between;
                font-family: $be, $sans;
                font-size: 0.8125rem;
                li{
                    transition: all 250ms ease-in;
                    &:hover{
                        cursor: pointer;
                        opacity: 0.5;
                    }
                }
            }
        }   
    }

    .difference-container{
        flex-direction: row;
        margin-top: 132px;
        &__intro{
            height: 500px;
            align-items: flex-start;
            &__contents{
                align-items: flex-start;
                h2{
                    font-size: 2.5rem;
                    text-align: left;
                    width: 100%;
                }
                p{
                    text-align: left;
                }
            }
        }
        &__features{
            &__lists{
                &__item{
                    &__description{
                        p{
                            width: 80%;
                            margin: 0 auto;
                        }
                    }
                    &__heading{
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .review-container{
        h2{
            font-size: 2.5rem;
        }
        .swiper{
            width: 60%;
        }
        .start-container{
            justify-content: center;
            margin-top: 48px;
        }
    }

    .simplify-container{
        height: 21vh;
        background-image: url('/images/bg-tablet-pattern.svg');
        background-position-x: -100px;
        &__heading{
            flex-direction: row;
            align-items: center;
            h2{
                width: 40%;
                font-size: 2.5rem;
            }
            &__btn{
                margin: 0 0 0 auto;
                transition: all 250ms ease-in;
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }

    .footer-container{
        display: flex;
        flex-direction: row-reverse;
        height: 24vh;
        &__form{
            width: 25%;
            align-items: baseline;
            height: 100%;
            gap: 8px;
            margin-right: 145px;
        }
        &__bar{
            &__lists{
                height: 100%;
                align-content: center;
                justify-content: space-around;
                li{
                    a{

                        transition: all 250ms ease-in;
                        &:hover{
                            cursor: pointer;
                            color: $bright-red;
                        }
                    }
                }
            }
        }
        &__socials{
            display: none;
        }
        &__logo{
            display: none;
        }
        &__desktop__socials{
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            justify-content: space-evenly;
            svg{
                transition: all 250ms ease-in;
                &:hover{
                    cursor: pointer;
                    fill: $bright-red;
                }
            }
            &__links{
                display: flex;
                justify-content: space-between;
                width: 50%;
            }
        }
    }

}