//Palette

//Primary 

$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

//Neutral

$dark-grayish-blue: hsl(227, 12%, 61%);
$v-dark-blue: hsl(233, 12%, 13%);
$v-pale-red: hsl(13, 100%, 96%);
$v-light-grey: hsl(0, 0%, 98%);